//stylesheet for layouts.app.blade.php file.  layout for the application after login
.container-fluid{
  width:inherit;
  height:inherit;
  padding-left: 0px;
  padding-right: 0px;
}
html,body {
  width:100%;
  height:100%;
  min-width:320px;
}
.Bar-cloud{
  border-color: $cloud !important;
}
.Bar-cloud > i{
  color: $cloud;

}
.nav-customize{
  //background-color: $primary-color-dark !important;
  background-color: #16a085 !important;
  margin-bottom: 0px !important;
  border: none !important;
}

.navbar-brand{
  font-size: 24px !important;
  color: #ecf0f1 !important;
  font-family:  $font-family-Lato !important;
}
.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active{
  background-color: $emerald !important;
}

.navbar-login{
  padding: 10px;
  padding-bottom: 0px;
}

.icon-size{
  font-size: 87px;
}

@media (max-width: 576px) {
.container {
  width: 100%;
  max-width: 100%;
}
}
@import url('https://fonts.googleapis.com/css?family=Raleway');

a {
  font-family: 'Raleway', sans-serif !important;
}
.hover-class > li > a:hover{
  background-color: $emerald !important;
}
/* this class is used to center for vertical height of sign in in small screen
.vertical-align {
  display: flex;
  align-items: center !important;
  margin-left: auto !important;
  margin-right: auto !important;
}*/
/*

!* changing the user and password icon color *!
.input-group-addon{
  background-color: #CAF7C5 !important;
}

!* home text customization and font *!
.title{
  font-family: $font-family-Lato;
  color: #34495e !important;
  text-align: center;
  font-size: 27px !important;
}

!* sign in background color *!
.signin-background-color{
  background-color: #2ecc71 !important;
}*/
