aside{
  width: 400px;
  float: right;
}
.aside-class{
  //margin-top: 16px;
}

.fixsize{
  height: 227px;
  padding: 0px;
  margin-top: 16px;
  background-color: teal;
}
.list-group{
  margin-bottom: 0px;
}
a.foo:focus{
  background-color: orange;

}


