aside{
  width: 400px;
  height: 980px;
  float: right;
}
.aside-settings{
  height: 225px;
  padding: 0px;
  margin-top: 16px;
  margin-bottom: 0px;
  background-color: teal;
}

.list-group{
  margin-top: 16px;
  margin-bottom: 16px;
}

a.foo:focus{
  background-color: orange;


}


