
.nav-header-setting{
  background-color:$primary-color-dark;
  height: 120px;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-left: 0px;
}
.header-height{
  height: 120px;
}

ul{
  float: right;
}
.navbar-inverse .navbar-brand{
  color: white;
}
.logout-width-setting{
  width: 243px;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav >
.open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
  background-color: orange;
}

.navbar-inverse .navbar-nav > li > a{
  color: white;
  margin-top: 35px;
  font-family: $font-family-open-sans;
}
.navbar-nav{
  float: right;
}
.navbar-inverse .navbar-nav > li:hover{
  background-color: orange;
}

.navbar-inverse .navbar-nav > li:active{
  background-color: orange;
}
.navbar-inverse .navbar-nav > li:focus{
  background-color: orange;
}

li{
  border: 2px solid teal;
  border-top: 0px;
  border-bottom: 0px;
}

.special-img
{
  position: relative;
  top: -5px;
  float: left;
  left: -5px;
}
.settings-for-container{
  padding-left: 0px;
  padding-right: 0px;
}
