/* this style is for the 3 images on the home screen it creates horizontal line in between  */
.style-for-images{
  box-shadow: inset 1px -1px 1px #444,inset -1px 1px 1px #ffffff;
}
/* SeniorLife text is customized here */
.title-settings{
  color: $cloud;
  text-align: left;
  font-family: $font-family-open-sans;
  font-size: 32px;
}
/* settings for registor button for tablets */
.registor-button-settings{
  display: block !important;
  width: 177px !important;
  background-color: #f39c12 !important;
  border: none !important;
}
/* font for share , Empatica and survey */
.settins-for-paragraphs {
  font-family: 'Raleway', sans-serif;
}
/*color for share , Empatica and survey and more */
.text-color-paragraphs{
  color: $cloud;
}
/* Register Now button is customized here */
.setting-for-registration-button{
  background-color: #f39c12 !important;
  border: none !important;
}
/*Monitor your health text is customized here */
.setting-for-registration-text{
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  color: $midnight-blue;
  padding-top: 10px;
}