/*
 * react-circular-progressbar styles
 *
 * All of the styles in this file are optional and configurable!
 */
.CircularProgressbar {
  /*
   * This fixes an issue where the CircularProgressbar svg has
   * 0 width inside a "display: flex" container, and thus not visible.
   *
   * If you're not using "display: flex", you can remove this style.
   */
  width: 20%;
}


.CircularProgressbar .CircularProgressbar-path {
  stroke: $orange;
  stroke-linecap: round;
  transition: stroke-dashoffset 0.5s ease 0s;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke: $cloud;
}

.CircularProgressbar .CircularProgressbar-text {
  fill: $green-sea-color;
  font-size: 20px;
  dominant-baseline: middle;
  text-anchor: middle;
}
body > div.container-fluid > div > div:nth-child(2) > div:nth-child(1) > div:nth-child(1) > div > div:nth-child(4) > button{
  color: $cloud;
  background-color: $emerald;
  border-color: $emerald
}

.fa-spin{
  color: $orange;
}

.my-flex-card > div > div.card {
  height: calc(100% - 15px);
  margin-bottom: 15px;
}

#myCarousel{
  height: 150px;
  width: 100%;
  background-color: white;
}

.slider_image_item {
  width: 100% !important;
}

.carousel-inner > .item > img {
  width: 200px;
  height: 200px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 200px;
  width: 200px;
}

#myCarousel > div > div.mx-auto > img{
  width: 100px !important;
  height: 100px !important;
}



#myCarousel > div > div > div {
  width: 100px;
}

#myCarousel > a.carousel-control-prev,
#myCarousel > a.carousel-control-next > i{
color:$midnight-blue ;
}
#myCarousel > ol > li.active{
  background-color: $emerald;
}

#myCarousel > ol > li{
  background-color: $orange;
}

.react-progressbar{
  width: 20%;
}

.coverflow__container__1P-xE
{
  position: relative;
  background: white !important;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

//HomepageRadioButton button component


.SetWidthRadio{
  width: 320px !important;
}

.SetMarignandPadding {
  margin-bottom: 5px !important;
  padding: 8px;
}
#mysurvey_page > div > div > div > div > div.col-md-9 > div:nth-child(2) > li > div > div > div > div{
  margin-bottom: 5px !important;
  padding-bottom: 7px !important;
  padding-right: 7px !important;
  padding-left: 7px !important;
  padding-top: 7px !important;
}