
.coverflow__container__1P-xE
{
  position: relative;
  background: white !important;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}

//HomepageRadioButton button component


.SetWidthRadio{
  width: 320px !important;
}

.SetMarignandPadding {
  margin-bottom: 5px !important;
  padding: 8px;
}
#mysurvey_page > div > div > div > div > div.col-md-9 > div:nth-child(2) > li > div > div > div > div{
  margin-bottom: 5px !important;
  padding-bottom: 7px !important;
  padding-right: 7px !important;
  padding-left: 7px !important;
  padding-top: 7px !important;
}
