/* this style is for the 3 images on the home screen it creates horizontal line in between  */
.style-for-images{
  box-shadow: inset 1px -1px 1px #444,inset -1px 1px 1px #ffffff;
}

.title-settings{
  color: white;
  text-align: left;
  font-family: $font-family-open-sans;
  font-size: 32px;
}
.settins-for-paragraphs {
  color: whitesmoke;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
}

.setting-for-registration-button{
  background-color: orange !important;
  border: none !important;
}

.setting-for-registration-text{
  text-align: center;
  font-family: 'Raleway', sans-serif;
}