/*filling the space for nav bar in layout */
.row-nav{
  padding-top: 50px;
}

.custom-style-for-xs-screen {
  color: $cloud;
  background-color: $green-sea-color;
}
.making-hemberger-center > li > a:hover,
.making-hemberger-center > li > a:focus{
  background-color:$emerald;
  color: $cloud;
}
/*.nav-link{
  padding: .5em 0.5em !important;
  padding-top: 0.5em !important;
  padding-right: 0.5em !important;
  padding-bottom: 0.5em !important;
  padding-left: 0.5em !important;
}*/
.active{
  background-color: $emerald !important;
  color: $cloud;
}

.hemberger-custom-settings {
background-color: $cloud;
}

.making-hemberger-center{
  display:-webkit-inline-box;
}
.padding-class{
  padding:5px !important;
}
.navbar-login{
  padding: 10px;
  padding-bottom: 0px;
}

.icon-size{
  font-size: 87px;
}