main{
  height: 948px;
  float: left;
  margin-left: 5px;


}
.section-settings{
  width: inherit;
  height: 465px;
  margin-bottom: 16px;
  background-color: #B2DFDB;
}
.main-class{
  margin-top: 16px;
  margin-bottom: 16px;
  width: 1504px;


}