main{
  height: 948px;
  float: left;
}
.header-setting {
  background-color: teal;
  height: 70px;
  color: white;
  padding-top: 12px;
  padding-right: 5px;
}
.section-settings{
  width: inherit;
  margin-bottom: 16px;
  height: 466px;
  background-color: #B2DFDB;
}
.main-class{
  margin-top: 16px;
  width: 1504px;
}