
.category-fix-width {
    width: 106px;
    margin-bottom: 0;
}


.item .sector{transition:all .1s linear;stroke:#111;}
.menu-trigger{fill:#EA2A55;pointer-events:auto;}
.menu-trigger:hover,.menu-trigger:focus{cursor:pointer;}
symbol{overflow:visible;}


.svg-content {
	display: inline-block;
	top: 0;
}

.svg-container {
	display: inline-block;
	position: relative;
	width: 60%;

	vertical-align: middle;
	overflow: hidden;
}

.my-flex-card {
	height: calc(100%);
	margin-bottom: 15px;
}

.Set-width {
	height: 350px;
}



/*
.my-flex-card-width{
        float: left;
        width: 100%;
        border: 1px solid #ccc;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        margin-left: 1.75438%;
        overflow: hidden;
}
*/
