.nav-customize{
  background-color: $primary-color-dark !important;
  margin-bottom: 0px !important;
}

/*used to change the color and font family of navbrnd for the title */
.navbar-brand{
  font-size: 24px !important;
  color: white !important;
  font-family:  $font-family-Lato !important;
}
