.nav-customize{
  //background-color: $primary-color-dark !important;
  background-color: #16a085 !important;
  margin-bottom: 0px !important;
  border: none !important;
}
.ul-marging-removed-15 {
  margin-right: 0px !important;
}
/*used to change the color and font family of navbrnd for the title */
.navbar-brand{
  font-size: 24px !important;
  color: #ecf0f1 !important;
  font-family:  $font-family-Lato !important;
}

.navbar-login
{
  padding: 10px;
  padding-bottom: 0px;
}

.navbar-login-session
{
  padding: 10px;
  padding-bottom: 0px;
  padding-top: 0px;
}

.adding-anchor-marigin-top{
  display: inline-block;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 8px;
  margin-bottom: 8px;
  color: $cloud;
  text-decoration: none !important;
}
.clearing-border-and-adding-color{
  border: none;
  color: $cloud;
  background-color: $green-sea-color !important;
  text-decoration: none !important;
  padding-top: 7px;
  padding-bottom: 7px;

}
.background-color-dropdown{
  background-color: $cloud !important;
}
a:hover{
  color: $cloud;
}
.navbar-login
{
  width: 305px;
  padding: 10px;
  padding-bottom: 0px;
}

.icon-size
{
  font-size: 87px;
}