.bg-nav{
  background-color:$green-sea-color;
}

.navbar-brand{
  font-size: 20px;
  padding-top: 0px;
  padding-bottom: 0px;
  color: $cloud;
  font-family:  $font-family-Lato;
}
body > nav > div > a.navbar-brand.hidden-lg-up{
  color:$orange;
  position: absolute;
}
.navbar-toggler{
  border: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px;
}
body > nav > div > button > div{
  color:$cloud;
}
.navbar-toggler-right{
  right:0px;
}
body > nav > div > button:focus{
  outline: 0px;
}
#navbarSupportedContent > ul > li> a{
  color: $cloud;
}


@media screen and (max-width: 576px){
  .container {
    width: 100%;
    max-width: 100%;
  }
}
