.progressbar{
  background-color: $emerald !important;
}
.progressbar-progress{
  background-color: orange !important;
  height: 20px !important;
}
.progress-bar-settings{
 background-color: #B2DFDB;
  margin-left: 40px;
  margin-right: 40px;

}
.text-progress-settings{
  text-align: center;
  font-family: $font-family-open-sans;
  padding-top: 20px;
}
