/*
.panel-body>a{
    display:inline;
}

*/
.panel-body a:link{
    text-decoration: none;
}
.panel-body a:hover{
    color:$emerald;
}
.panel-body a{
    color: $midnight-blue;
}

.rank>p{
    display:inline-block;
}
