.modal-content{
  text-align: center;
  margin: 0 auto;
  border-radius: 4px;
  width: 55%;
  height: 60%;
  position: fixed !important;
  top: 50%;
  margin-top: 50px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color:#16a085 !important;
}

.modal-content img{
  width: 100px;
  height: 100px;
  margin-top: -50px;
  margin-bottom: 30px;
}
.input-registration-settings{
  display: inline-flex !important;
  width: 100% !important;
}
.customizing-form-horizontal {
  margin-right: 0px !important;
  margin-left: 0px !important;
  padding-left: 45px !important;
  padding-right: 45px !important;
}

